{% extends 'base.html.twig' %}

{% block title %}Add Entry{% endblock %}

{% block body %}
    <div class="container">
        <div class="formBox mt-3" >
            <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="entry-type">Type</label>
                        <select name="entryType" id="select-entry-type" class="form-control">
                            <option value="text" selected="selected">Text</option>
                            <option value="image" >Image</option>
                        </select>
                    </div>
                    <div class="form-group" id="detailstype-text">
                        <label for="details">Detail</label>
                        <input type="text" name="detail" class="form-control" placeholder="Detail">
                    </div>
                    <div class="form-group" id="detailstype-image">
                        <label for="details">Detail</label>
                        <input type="file" class="form-control-file" name="fileDetail" >
                    </div>
                    
                        
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
    </div>
{% endblock %}